<a href="{{ path('connectWithName', {'name': 'Mick'}) }}">acces mick</a>
<a href="{{ path('connectWithName', {'name': 'John'}) }}">acces John</a>
<a href="{{ path('connectWithName', {'name': 'Tatane'}) }}">acces Tatane</a>